.side_bar
  .user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path ,class: "top-items__icons top-items__icons__add" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) ,class: "top-items__icons top-items__icons__edit" do
          = icon('fas', 'cog')

  .group-list
    - current_user.groups.each do |group|
      .group-name
        = link_to group_messages_path(group) do
          = group.name
      .group-message
        = group.show_last_message
